[defaults]
ansible_managed=Modified by Ansible on %Y-%m-%d %H:%M:%S %Z
inventory=./inventory.yaml

# This is for testing; usually you would use "ansible-galaxy collection install puccini.tosca"
collections_path=../../../wrappers/ansible
